<div class="container mt-4">
    <h2>Cars Brand Api</h2>
    <ul class="list-group">
        {{#each cars}}
            <li class="list-group-item">{{this.brand}}</li>
        {{/each}}
    </ul>
</div>